*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: aquamarine;
    color: #FFF;
    padding: 8px auto;
    display: block;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li{
    list-style: none;
    display: inline;
    margin: 0 10px;
}

header li a{
    text-decoration: none;
    color: #FFF;
}

#sobre_a_loja img{
    height: 350px;
    margin-top: 24px;
    margin-right: 16px;
}

#sobre_a_loja .container{
    display: flex;
}

#sobre_a_loja .container h2{
    margin-top: 24px;
    color: aquamarine;
    border-bottom: 3px solid aquamarine;
    margin-bottom: 24px;
}

section h2{
    color: aquamarine;
    border-bottom: 3px solid aquamarine;
    margin: 24px 0;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}

.produto img{
    height: 250px;
    width: 250px;
}

.produto button{
    border: none;
    background-color: aquamarine;
    color: #FFF;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.produto button:hover{
    background-color: aqua;
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    #sobre_a_loja img{
        height: 350px;
        margin: 24px 85px;
    }
    
    #sobre_a_loja .container{
        display: block;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 1%;
        row-gap: 5%;
    }
}

@media screen and (max-width: 640px){

    #sobre_a_loja img{
        height: 225px;
        margin: 24px 40px
    }

    #sobre_a_loja .container{
        display: block;
    }

    .produtos{
        display: grid;
        grid-template-columns: 48%;
        column-gap: 1%;
        row-gap: 5%;
    }
}


